<section class="card-contact" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">CardLocation</h2>
    <ul class="card__list list">
      <li class="card__item">
        <h3 class="card__title--cafe">CAFE</h3>
        <h4 class="card__caption">Chicago</h4>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>

        <ul class="working-schedule list">
          <li class="working-day__item">
            <p class="working-day__text">Monday - Friday</p>
            <p class="working-day__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-day__item">
            <p class="working-day__text">Saturday - Sunday</p>
            <p class="working-day__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="card-adress">
          <ul class="contact__list list">
            <li class="">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="card__item">
        <h3 class="card__title--truck">FOOD TRUCK</h3>
        <h4 class="card__caption">Los Angeles</h4>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working-schedule list">
          <li class="working-day__item">
            <p class="working-day__text">Monday - Friday</p>
            <p class="working-day__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-day__item">
            <p class="working-day__text">Saturday - Sunday</p>
            <p class="working-day__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="card-adress">
          <ul class="contact__list list">
            <li class="">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="card__item">
        <h3 class="card__title--cafe">CAFE</h3>
        <h4 class="card__caption">New York</h4>
        <p class="card__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="working-schedule list">
          <li class="working-day__item">
            <p class="working-day__text">Monday - Friday</p>
            <p class="working-day__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="working-day__item">
            <p class="working-day__text">Saturday - Sunday</p>
            <p class="working-day__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address class="card-adress">
          <ul class="contact__list list">
            <li class="">
              <a href="tel:+610383766284" class="contact__link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="">
              <a href="mailto:noreply@envato.com" class="contact__link"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="btn-list list">
      <li class="btn-list__item">
        <button class="buttons-with-icon btn-red">
          Our Locations
          <svg class="buttons__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="btn-list__item">
        <button class="buttons-with-icon">
          Franchise
          <svg class="buttons__icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
