<header class="header">
  <div class="container" data-header-container>

    <a href="./index.html" class="logo link">
      <span class="logo__bg-img">
        <svg class="logo__icon" aria-label="логотип" width="45" height="45">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </span>
      <span class="logo__text">IceCream</span>
    </a>

    <button type="button" class="menu-button" aria-expanded="false" aria-controls="menu-block" data-menu-button>
      <svg class="menu-button__icon" aria-label="переключатель мобильного меню" width="20" height="14">
        <use class="icon-open" href="./img/sprite.svg#icon-burger"></use>
        <use class="icon-close" href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-block" data-menu-block>
        <ul class="header__nav list">
          <li class="item">
            <a class="link" href="#hero">Home</a>
          </li>
          <li class="item">
            <a class="link" href="#gallery">About Us</a>
          </li>
          <li class="item">
            <a class="link" href="#tradition">How it's made?</a>
          </li>
          <li class="item">
            <a class="link" href="#products">Our products</a>
          </li>
          <li class="item">
            <a class="link" href="#contacts">Contact</a>
          </li>
        </ul>

      <button class="buttons-with-icon" tabindex="0" data-modal-open>Buy now
        <svg class="buttons__icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-btn-arrow"></use>
        </svg>
      </button>
</nav>


  </div>
</header>