<section class="section hero" id="hero">
  <div class="container container-hero">
    <div class="hero-position">
      <div class="hero-main">
        <h1 class="hero-title">
          ice cream made with <span class="hero-label">passion</span>
        </h1>
        <a href="#products" class="buttons btn-red">
          Products
        </a>
        <a href="#tradition" class="buttons">
          How it’s made?
        </a>
      </div>
      <ul class="list list-locations">
        <li class="item text"><span class="number" data-count-cafe>16</span><br> cafes</li>
        <li class="item text"><span class="number" data-count-food>23</span><br> food trucks</li>
      </ul>
    </div>
    <div class="hero-about">
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="" class="button-arrow">
        <svg class="button-arrow__icon">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
