<section class="tradition" id="tradition">
    <div class="container">
      <h2 class="tradition__title">tradition and love</h2>
      <p class="tradition__accent">how it’s made?</p>
        <div class="tradition__flex">
          <picture class="tradition__photobox">
            <source
                srcset="/img/tradition/img-516-@1x.png 1x, /img/tradition/img-516-@2x.png 2x"
                media="(min-width: 1200px)"/>
            <source
                srcset="/img/tradition/img-340-@1x.png 1x, /img/tradition/img-340-@2x.png 2x"
                media="(min-width: 768px)"/>
            <source
                srcset="/img/tradition/img-280-@1x.png 1x, /img/tradition/img-280-@2x.png 2x"
                media="(min-width: 320px)"/>
            <img class="tradition__photo"
            src="/img/tradition/img-516-@1x.png"
            alt="Cow"
            loading="lazy"
            width="516">
          </picture>
          <div class="tradition__box">
             <p class="tradition__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
             </p>
             <p class="tradition__desc">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
             </p>
              <p class="tradition__desc tradition-desc">Aliquam erat volutpat. Aenean accumsan.</p>
                  <button class="buttons-with-icon">Read more
                    <svg class="buttons__icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
          </div>
        </div>
        <!-- <div class="statistic__box"> -->
          <ul class="list statistic__flex">
            <li class="statistic__item">
                <span class="statistic__title" data-stat-item>721</span>
                <p class="statistic__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="statistic__item">
                <span class="statistic__title" data-stat-item>16kg</span>
                <p class="statistic__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="statistic__item">
                <span class="statistic__title" data-stat-item>84</span>
                <p class="statistic__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
          </ul>
        <!-- </div> -->
     </div>
</section>



